svg-map {
  position: relative;
  display: block;

  .popup {
    position: absolute;
    background: black;
    color: white;
    padding: 8px;
    display: none;
    &[show] { display: block }
  }

  object {
    width: 100%;
  }
}