body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
  overflow: auto;
  padding: 0 16px;
}

header.top {
  .fake.ad {
    width: 700px;
    height: 90px;
    background: gray;
    margin: auto;
  }
}

@ad-size: 300px;

.elections {
  width: calc(~"100% - " @ad-size + 25px);
  margin: 0 24px 24px 0;
  border-right: 1px solid #CCC;
  float: left;

  @media @tablet {
    width: 100%;
    border-right: none;
    float: none;
  }
}

.rail {
  width: @ad-size;
  float: left;

  @media @tablet {
    display: none;
  }
}

footer.bottom {
  clear: both;
  background: #CCC;
  padding: 24px;
}