@import "values";

svg-map {

  svg {
    max-width: 100%;

    .county {
      stroke: #E0E0E0;
      stroke-width: 2px;  
    }

    .active {
      stroke: white;
      stroke-width: 5px;
    }

    .rep {
      fill: @r-red;
    }

    .dem {
      fill: @d-blue;
    }

    .yes {
      fill: @y-fill;
    }

    .no {
      fill: @n-fill;
    }

    .tie {
      fill: @text-gray;
    }

    .district {
      fill: @n-fill;
      stroke-width: 0px;
    }

    .null {
      fill: @gray;
      stroke-width: 0px;
    }
  }

  .popup {
    background: white;
    color: black;
    box-shadow: 0 12px 16px rgba(0,0,0,.2);

    .county {
      text-transform: uppercase;
    }

    ul {
      text-align: left;
      margin: 0;
      padding: 0 8px;
      list-style-type: none;
    }
  }
}