* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 720px)";

@accent: #0777B3;
@gray: #E0E0E0;
@text-gray: #7E838B;

@sans: sans-serif;
@serif: Georgia;

@import "layout";
@import "elections";
@import "rail";