@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 720px)";

@accent: #0777B3;
@gray: #E0E0E0;
@text-gray: #7E838B;
//@d-blue: #005F9A;
@d-blue: #044669;
@r-red: #C4161C;
@i-gray: #BEBEBE;
@y-green: #84BD21;
@n-green: #3E5342;
//@np-yellow: #FFD990;
@np-yellow: rgba(236, 180, 9, 0.7);
@np-dark-yellow: #D0AB5D;

@sans: Roboto, sans-serif;
@serif: "Volkhov", Georgia;
@hed: "Volkhov", Georgia;
