@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 1024px)";

@accent: #666;
@gray: #E0E0E0;
@text-gray: #7E838B;
@d-blue: #005F9A;
//@d-blue: #044669;
@r-red: #C4161C;
@i-gray: #BEBEBE;
@y-fill: #7DAF83;
@n-fill: #F68C4E;
@np-yellow: rgba(236, 180, 9, 0.7);
@np-dark-yellow: #D0AB5D;

@sans: Roboto, sans-serif;
@serif: Georgia;
@hed: Georgia;
