* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "values";

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 960px;
}

.pause-resume {
  position: absolute;
  top: 0;
  right: 0;
}

section.panel {
  clear: both;
  display: none;
  opacity: 0;
  transition: opacity .3s linear .1s;
  overflow: hidden;

  &[show] {
    display: block;
  }

  &[animate] {
    opacity: 1;
  }

  .title {
    text-align: center;
    color: @text-gray;
    font-weight: bold;
    display: block;
    font-size: 16px;
    margin: 0;
  }

  .race {
    float: left;
    width: 33%;
    min-height: 100px;
    padding: 10px;
    border-left: 1px solid @gray;

    h2 {
      margin: 0;
      font-size: 15px;
    }

    .description {
      color: @text-gray;
      font-size: 13px;
      margin: 0;
    }

    &:first-of-type {
      border-left: none;
    }

    .results {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        //border-bottom: 1px dotted @gray;
        position: relative;

        .numbers {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

  }
}