<% 
var t = grunt.template;
var synonyms = {
  yes: "yes",
  approved: "yes",
  maintained: "yes",
  "levy yes": "yes",
  "prop. 1a (unfunded measure)": "yes",
  no: "no",
  rejected: "no",
  repealed: "no",
  "levy no": "no",
  "prop. 1b (property-tax levy)": "no"
};
%>
<div class="result-block">
  <h3><%= race.name %><%
  if (cat == "Congressional") { %>
    <span class="map-icon">Map
      <svg-map 
        class="us district"
        src="assets/congress.svg"
        data-district="<%= race.name.replace(/^.*?district\s+/i, "") %>"></svg>
    </span>
  <% } %></h3>
  <% if (race.description) { %><p class="description"><%= race.description %><% } %>
  <ul class="results">
  <% race.results.forEach(function(result, i) { %>
    <li> 
      <div class="candidate">
        <%= result.incumbent ? "*" : "" %>
        <%= result.candidate %>
        <span class="party"><%= result.party ? " - " + result.party : "" %></span>
      </div>
      <div class="votes">
        <span class="numbers"><%= t.formatNumber(result.votes) %></span>
      </div>
      <% if (result.percent * 1) { %>
      <div class="bar-container">
        <div 
          class="bar <%= result.party %> <%= synonyms[result.candidate.toLowerCase()] %>" 
          style="width: <%= result.percent * .8 %>%">
          <div class="percentage"><%= result.percent %>%</div>
        </div>
      </div>
      <% } %>
    </li>
  <% }) %>
  </ul>
  <% if (race.map) { %>
  <div class="map-container">
    <svg-map class="county" src="assets/countyMap.svg" data-race="<%= race.code %>">
<span class="county">{{county}}</span>
<ul>
{{#results}}
  <li> {{candidate}} - {{#percent}}{{percent}}%{{/percent}}&nbsp;({{votes}})
{{/results}}
</ul>
    </svg-map>
  </div>
  <% } %>
</div>