<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body class="pending">

    <nav class="tab-container">
      <% election.categories.forEach(function(cat) { %>
      <a class="tab" href="#<%= cat.replace(/\s/g, "") %>"><%= cat %></a>
      <% }) %>
    </nav>
    <main>
      <% election.categories.forEach(function(cat) { var races = election.categorized[cat]; %>
        <section class="category" id="<%= cat.replace(/\s/g, "") %>">
        <% races.forEach(function(race) { %>
          <h2><%= race.name %></h2>
          <ul class="results">
          <% for (var name in race.results) { var result = race.results[name] %>
            <li> 
              <div class="bar <%= result.party %>" style="width: <%= result.percent %>%"></div>
              <%= result.candidate %> - <%= result.votes.toLocaleString() %> (<%= result.percent %>%)
          <% } %>
          <% if (race.map) { %>
          <svg-map src="assets/counties.svg" data-race="<%= race.code %>">
{{#winner}}
  {{candidate}}
{{/winner}}
          </svg-map>
          <% } %>
          </ul>
        <% }); %>
        </section>
      <% }); %>
    </main>
    <script>
window.mapData = <%= JSON.stringify(election.mapped) %>;
    </script>
    <script src="app.js"></script>
    <%= " " || t.include("partials/_adFoot.html") %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
