<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body class="pending">
    <header class="top">
      <div class="ad">
        <div class="fake ad"></div>
      </div>
      <h1>2014 Midterm Elections</h1>
      <p> Chatter chatter chatter
    </header>

    <div class="elections">
      <nav class="tab-container">
        <% election.categories.forEach(function(cat) { %>
        <a class="tab" href="#<%= cat.replace(/\s/g, "") %>"><%= cat %></a>
        <% }) %>
      </nav>
      <main>
        <% election.categories.forEach(function(cat) { var races = election.categorized[cat]; %>
          <section class="category" id="<%= cat.replace(/\s/g, "") %>">
            <h2>Races - <%= cat %></h2>
          <% races.forEach(function(race) { %>
            <h3><%= race.name %></h3>
            <ul class="results">
            <% race.results.forEach(function(result) { %>
              <li> 
                <div class="bar <%= result.party %>" style="width: <%= result.percent %>%"></div>
                <%= result.candidate %> - <%= result.votes.toLocaleString() %> (<%= result.percent %>%)
            <% }) %>
            <% if (race.map) { %>
            <svg-map src="assets/counties.svg" data-race="<%= race.code %>">
  {{#winner}}
    {{candidate}} - {{votes}} ({{percent}}%)
  {{/winner}}
            </svg-map>
            <% } %>
            </ul>
          <% }); %>
          </section>
        <% }); %>
      </main>
    </div>

    <aside class="rail">
      <div class="fake ad"></div>
    </aside>

    <footer class="bottom">
      This space intentionally left blank.
    </div>

    <script>
<% 
for (var raceID in election.mapped) {
  var race = election.mapped[raceID];
  for (var county in race) {
    var c = race[county];
    var votes = c.winner.votes + "";
    for (var i = votes.length - 3; i > 0; i -= 3) {
      votes = votes.substr(0, i) + "," + votes.substr(i);
    }
    c.winner.votes = votes;
  }
} %>
window.mapData = <%= JSON.stringify(election.mapped) %>;
    </script>
    <script src="app.js"></script>
    <%= " " || t.include("partials/_adFoot.html") %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
