<!doctype html>
<%
var now = new Date();
var month = ["October", "November", "December"][now.getMonth() - 9];
var day = now.getDate();
var hours = now.getHours();
var minutes = now.getMinutes() + "";
if (minutes.length == 1) {
  minutes = "0" + minutes;
}
var time;
if (hours < 13) {
  time = hours + ":" + minutes + " am";
} else {
  time = hours - 12 + ":" + minutes + " pm";
}
%>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body class="pending">

    <nav class="bar">
      <a href="http://seattletimes.com">
        <img src="http://seattletimes.com/art/ui/seattletimeslogo_home.svg" class="logo">
      </a>
      <h2 class="section-title">Politics</h2>
    </nav>

    <div class="content">

      <header class="hed">
        <div class="ad">
          <div class="fake ad"></div>
        </div>
        <h1>2014 election results for Washington state</h1>
        <p class="dateline">Published <%= month %> <%= day %>, 2014 at <%= time %>
      </header>
      
      <main class="elections">
        <p class="cutline"> 
          View state and local election results by race and see county-by-county results for key statewide races. Uncontested races are not included. For complete Washington state results, visit the <a href="http://results.vote.wa.gov/results/current/">Washington Secretary of State</a>.
        <nav class="tab-container">
          <% election.categories.forEach(function(cat) { %>
          <a class="tab" href="#<%= cat.replace(/\s/g, "") %>"><%= cat %></a>
          <% }) %>
        </nav>
        <article>
          <% election.categories.forEach(function(cat) { var category = election.categorized[cat]; %>
            <section class="category" id="<%= cat.replace(/\s/g, "") %>">
              <!--<h2>Races - <%= cat %></h2>-->
            <% 
            var groups = Object.keys(category.grouped);
            if (groups.length) groups.forEach(function(group) { %>
              <h2><%= group %></h2><%
              category.grouped[group].forEach(function(race) {
                print(t.include("_resultEntry.html", { race: race }));
              });
            });
            category.races.forEach(function(race) {
              print(t.include("_resultEntry.html", { race: race }));
            }); 
            %>
            </section>
          <% }); %>
        </article>
      </main>

      <aside class="rail">
        <div class="fake ad"></div>
      </aside>

    </div>

    <footer class="bottom">
      Copyright © 2014 The Seattle Times
    </div>

    <script>
<% 
for (var raceID in election.mapped) {
  var race = election.mapped[raceID];
  for (var county in race) {
    var c = race[county];
    c.results.forEach(function(result) {
      var votes = result.votes + "";
      for (var i = votes.length - 3; i > 0; i -= 3) {
        votes = votes.substr(0, i) + "," + votes.substr(i);
      }
      result.votes = votes;
    })
  }
} %>
window.mapData = <%= JSON.stringify(election.mapped) %>;
    </script>
    <script src="app.js"></script>
    <%= " " || t.include("partials/_adFoot.html") %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
