<!doctype html>
<%
var panels = {};
json.Election2014_Widget.forEach(function(row) {
  if (!panels[row.group]) {
    panels[row.group] = [];
  }
  panels[row.group].push(row.race);
});
%>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="widget.css">
  </head>
  <body>
    <a class="pause-resume">Pause</a>
    <% for (var group in panels) { var races = panels[group]; %>
    <section class="panel">
      <h1 class="title">
        <%= group %>
      </h1>
      <% races.forEach(function(id) { var race = election.all[id]; %>
      <div class="race">
        <h2><%= race.name %></h2>
        <% if (race.description) { %>
        <p class="description"><%= race.description %>
        <% } %>
        <ul class="results">
          <% race.results.forEach(function(result) { %>
          <li> <%= result.candidate %>
            <% if (result.party) { %> - <%= result.party %><% }%>
            <span class="numbers">
              <%= t.formatNumber(result.votes) %> (<%= result.percent %>%)
          <% }) %>
        </ul>
      </div>
      <% }); %>
    </section>
    <% } %>
    <script src="assets/pym.js"></script>
    <script>
var child = new pym.Child({ polling: 300 });
child.id = "widget";

var qsa = function(s) { return Array.prototype.slice.call(document.querySelectorAll(s)) };

//auto-rotate
var auto = true;
var interval = 8 * 1000;
var animate = function(element) {
  return function() {
    element.setAttribute("animate", "");
  }
};

var rotate = function() {
  var current = document.querySelector(".panel[show]");
  var next;
  if (current) {
    current.removeAttribute("show");
    current.removeAttribute("animate");
    next = current.nextElementSibling;
  }
  if (!next || next.className != "panel") next = document.querySelector(".panel");
  next.setAttribute("show", "");
  setTimeout(animate(next), 10);
  if (auto) {
    auto = setTimeout(rotate, interval);
  }
}
rotate();

document.querySelector(".pause-resume").addEventListener("click", function() {
  if (this.innerHTML == "Pause") {
    this.innerHTML = "Resume";
    clearTimeout(auto);
    auto = false;
  } else {
    this.innerHTML = "Pause";
    auto = true;
    rotate();
  }
});
    </script>
  </body>
</html>