<!doctype html>
<%
var panels = {};
json.Election2014_Widget.forEach(function(row) {
  if (!panels[row.group]) {
    panels[row.group] = [];
  }
  panels[row.group].push(row);
});
var now = new Date();
var hours = now.getHours();
var suffix = " AM";
if (hours > 12) {
  hours = hours - 12;
  suffix = " PM";
}
var minutes = now.getMinutes();
if (minutes < 10) minutes = "0" + minutes;
var timestamp = hours + ":" + minutes + suffix;
%>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="widget.css">
  </head>
  <body>
    <% for (var group in panels) { var races = panels[group]; %>
    <section class="panel">
      <h1 class="title">
        <a class="previous transition">&lt;</a>
        <%= group %>
        <a class="next transition">&gt;</a>
      </h1>
      <% races.forEach(function(section) { var race = election.all[section.race]; %>
      <div class="race">
        <h2>
          <%= section.rename || race.name %>
        </h2>
        <% if (section.description || race.description) { %>
        <p class="description"><%= section.description || race.description %>
        <% } %>
        <ul class="results">
          <% race.results.forEach(function(result) { %>
          <li> 
            <%= result.candidate %>
            <% if (result.party) { %> (<%= result.party %>)<% }%>
            <% if (race.called && race.called == result.candidate) { %> <span class="checkmark">&#10004;</span> <% } %>
            <span class="numbers">
              <%= t.formatNumber(result.votes) %> (<%= result.percent || "0" %>%)
          <% }) %>
        </ul>
      </div>
      <% }); %>
    </section>
    <% } %>
    <div class="footnote">
      <a class="full" href="<%= json.project.url %>" target="_top">See full results &rarr;</a>
      <span class="updated">Last updated: <%= timestamp %>. Vote counts resume Wednesday.</span>
    <script src="assets/pym.js"></script>
    <script>
var child = new pym.Child({ polling: 300 });
child.id = "widget";

var qsa = function(s) { return Array.prototype.slice.call(document.querySelectorAll(s)) };

//auto-rotate
var auto = true;
var interval = 8 * 1000;
var animate = function(element) {
  return function() {
    element.setAttribute("animate", "");
  }
};

var rotate = function() {
  var current = document.querySelector(".panel[show]");
  var next;
  if (current) {
    current.removeAttribute("show");
    current.removeAttribute("animate");
    next = current.nextElementSibling;
  }
  if (!next || next.className != "panel") next = document.querySelector(".panel");
  next.setAttribute("show", "");
  setTimeout(animate(next), 10);
  if (auto) {
    auto = setTimeout(rotate, interval);
  }
}
rotate();

qsa(".transition").forEach(function(link) {
  link.addEventListener("click", function() {
    var direction = this.className.match(/previous/i) ? "previous" : "next";
    var siblingProp = direction + "ElementSibling";
    var current = document.querySelector(".panel[show]");
    var next = current[siblingProp];
    if (!next || !next.className.match(/panel/)) {
      next = direction == "previous" ? qsa(".panel").pop() : document.querySelector(".panel");
    }
    current.removeAttribute("show");
    next.setAttribute("show", "");
    if (auto) {
      clearTimeout(auto);
      auto = false;
    }
    setTimeout(animate(next));
  });
});
    </script>
  </body>
</html>